<h1>Record Labels</h1>
<p><a href="/artists">Artists</a></p>
<p><a href="/record_labels">Record Labels</a></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @record_labels.each do |label| %>
    <tr>
      <td><%= label.name %></td>
      <td><%= label.created_at %></td>
      <td><%= link_to "Edit #{label.name}", "/record_labels/#{label.id}/edit" %></td>
    </tr>
    <% end %>
<p><%= link_to "New Record Label", "/record_labels/new" %></p>
  </tbody>
</table>
