<h1>Record Labels</h1>
<p>
  <a href="/artists">Artists</a>
  |
  <a href="/record_labels">Record Labels</a>
  |
  <a href="/record_labels/new">New Record Label</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @record_labels.each do |label| %>
    <tr>
      <td><%= label.name %></td>
      <td><%= label.created_at %></td>
      <td><%= link_to "Edit #{label.name}", "/record_labels/#{label.id}/edit", class: "btn btn-outline-dark btn-sm" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
